*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
    background: hotpink;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    align-items: center;
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.nav__list{
    display: flex;
    list-style: none;
  
    
}
.nav__link{
    padding: 12px;
    display: inline-block;
    color: white;
    font-size: 24px;
    text-decoration: none;
}
